<h1>THE POST</h1>
<h2>Name: <%= @post.name %></h2>
<h3>Content: <%= @post.content %></h3>

<form class="" action="/posts/<%= @post.id %>/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
